{% macro packageListing(name, packageJson, extPackageDescr) %}
<div class="content-row__package">
  <a href="{% if packageJson %}/os/{% else %}https://www.npmjs.com/package/{% endif %}{{ name }}"><span class="emoji">📦</span> {{ name }}{% if packageJson %} <sup>{{ packageJson.version }}</sup>{% endif %}</a>
  {% if packageJson or extPackageDescr %}
  <div class="content-row__package__description">
    {% if extPackageDescr %}
    {{ extPackageDescr | removeTrailingPunctuation }}
    {% elif packageJson and packageJson.description %}
    {{ packageJson.description | removeTrailingPunctuation | formatCodeBits | safe }}
    {% endif %}
  </div>
  {% endif %}
</div>
{% endmacro %}
