{% macro postHeroImg(image) %}
<img width="1200" height="600" src="/images/codsen-article-{{ image }}-l.png" alt="" class="post-image-hero" srcset="
  /images/codsen-article-{{ image }}-l.png 1200w,
  /images/codsen-article-{{ image }}-m.png 600w,
  /images/codsen-article-{{ image }}-s.png 300w
  " sizes="(max-width: 1200px) 100vw, 1200px" />
{% endmacro %}
