<div class="package-notice">
<strong>2020 summer update</strong>
<p>
A long time has passed since we created this program. Our workflow has evolved since and we don't use it any more. Our npm packages live in a monorepo on Github, deployment is via Semaphore CI and <code>commitizen</code> automates all the versioning and changelog updates.
</p>
<p>
<small>We're saying this because normally we use our programs, following the "eat what you cook" principle of <a href="https://indieweb.org/principles">Indieweb</a></small>
</p>
</div>
