<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#" data-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml"/>
    {% include "meta.njk" %}
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}

    <link rel="stylesheet" href="/assets/{{ cacheBusting.hash }}/css/app.css" />

    <script src="https://cdn.jsdelivr.net/npm/what-input@5.2.6/dist/what-input.min.js" defer></script>
    <script src="/assets/{{ cacheBusting.hash }}/js/app.js" defer></script>
  </head>
  <body id="page-top">
    <a href="#skiplink-content" id="skiplink-top" class="skiplink skiplink-fn">Skip to Content</a>

    {% set extraClass = "" %}
    {% if ((page.url | rootUrl) == '/articles/') %}
      {# if it's anywhere in articles/ section #}
      {% set extraClass = "container-articles" %}
    {% elif ((page.url | rootUrl) == '/os/' and page.url != '/os/' ) %}
      {# if it's one of package single pages #}
      {% set extraClass = "container-package" %}
    {% endif %}

    <div class="container group{%- if extraClass %} {{ extraClass }}{% endif %}" tabindex="-1">
      {% block content %}{% endblock content %}
    </div>
    {% include "footer.njk" %}
  </body>
</html>
