{% extends 'layouts/base.njk' %}

{% block headscripts %}
  <script async src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script async src="https://cdn.jsdelivr.net/npm/{{ packageName }}/dist/{{ packageName }}.dev.umd.js"></script>
  {# any extras: #}
  {%- if packageName == "string-fix-broken-named-entities" -%}
    <script async src="https://cdn.jsdelivr.net/npm/ranges-apply/dist/ranges-apply.dev.umd.js"></script>
  {% endif %}
{% endblock %}

{% block content %}
  {% include "header-mini.njk" %}
  <main class="content-main layout-play{% if extraContainerClass %} {{ extraContainerClass }}{% endif %}" data-role="main" id="skiplink-content" tabindex="-1">
    <div class="content-main__inner">
      <article>
        {{ content | safe }}
        <p>
        <strong>PS.</strong> See the <a href="https://github.com/codsen/codsen.com/blob/main/src/playgrounds/{{ packageName }}.njk" target="_blank">source of this page on GitHub</a>. Vue.js is driving the UI; both Vue and this program are coming as <code>&lt;script&gt;</code>s from jsDelivr.
        </p>
      </article>
    </div>
  </main>
{% endblock %}
