<footer>
  <hr/>
  <section>
    <h3>
      Codsen
    </h3>
    <p>
      One could say Codsen is an Open Source brand. Codsen is also a company. But don't fear! It strives to be さわやか or "sawayaka", <em>refreshing</em>, as Japanese would say.
    </p>
    <p>
      Companies&nbsp;House assigned us a&nbsp;number #9204532 back on Friday, September 5,&nbsp;2014.<span id="agePlaceholder" role="timer"></span>
    </p>
    <h3>
      Trivia
    </h3>
    <p>
      This website is built on <a href="https://www.11ty.dev/" target="_blank" rel="nofollow noreferrer noopener">Eleventy</a>. This&nbsp;page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }} on <a href="https://git.sr.ht/~royston/codsen.com" target="_blank" rel="nofollow noreferrer noopener">Sourcehut&nbsp;CI</a>. See&nbsp;more in <a href="/trivia/">Trivia</a> section.
    </p>
    <p>
      Cache-busting hash: {{ cacheBusting.hash }}
    </p>
  </section>
  <section>
    <h3>
      Activities
    </h3>
    <p>
      {% set editUrl = editOn["/"] %}
      {# if URL is known, pick it straight from src/_data/editOn.json #}
      {% if editOn[page.url] %}
        {% set editUrl = editOn[page.url] %}
      {% elif page.url !== "/os/" and page.url | rootUrl == "/os/" %}
        {% set editUrl = "https://git.sr.ht/~royston/codsen.com/tree/master/src/os/" + title + ".md" %}
      {% elif page.url | goUpUrl == "/articles/tag/" and page.url !== "/articles/tag/" %}
        {% set editUrl = "https://git.sr.ht/~royston/codsen.com/tree/master/src/tags.njk" %}
      {% endif %}

      <span class="emoji">✍️</span> <a href="{{ editUrl }}" target="_blank">Edit this page</a> on Sourcehut<br>
      <span class="emoji">💘</span> Check out the <a href="https://indieweb.org/principles" target="_blank" rel="nofollow noreferrer noopener">Indieweb</a><br>
      {# <span class="emoji">⬇️</span> Download some <a href="/freebies/">freebies</a> #}
    </p>
    <h3>Cookies</h3>
    <p>
      Cookies, banners, analytics and other means of tracking&nbsp;people are not <em>sawayaka</em>. We don't track people.
    </p>
    <h3>Licence(s)</h3>
    <p>
      See licences of all 3rd party bits <a href="/licences/" title="3rd-party licences">here</a>.<br>All our {% if page.url !== "/os/" %}<a href="/os/">{% endif %}open source{% if page.url !== "/os/" %}</a>{% endif %} packages are under <a href="https://git.sr.ht/~royston/codsen/tree/master/LICENSE">MIT licence</a>.<br>
      {# Downloadable <a href="/freebies/">freebies</a> section are <strong>Public Domain</strong>.<br> #}
      The rest on this website is under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="nofollow noreferrer noopener">CC BY-NC-SA 4.0</a>.<br><span class="wild"></span>
    </p>
  </section>
</footer>
