<button class="search-toggle" aria-controls="search-form" aria-expanded="false" style="display: none;">
  <span class="screen-reader-text">Search Menu</span>
  {% include "src/components/svg-icon-search.njk" %}
  {% include "src/components/svg-icon-close.njk" %}
</button>

<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
  <span class="screen-reader-text">Primary Menu</span>
  {% include "src/components/svg-icon-burger.njk" %}
  {% include "src/components/svg-icon-close.njk" %}
</button>