<header class="site-header">
  {% include "src/components/header-branding.njk" %}
  {% include "src/components/header-search.njk" %}

  <nav id="site-navigation" class="main-navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

    {% include "src/components/header-menu.njk" %}
    {% include "src/components/header-dark-mode.njk" %}
    {% include "src/components/header-search-form.njk" %}
    
  </nav>

</header>
