<article>
  <header class="article-publication-meta">
    {%- if article.data.type == "link" -%}
      {% include "src/components/svg-link.njk" %}
    {%- endif -%}

    {%- if loop.first %}<span id="fresh" data-time="{{ article.date | iso }}"></span>{% endif %}
    {{ type | upper }} &nbsp; <time datetime="{{ article.date | iso }}">{{ article.date | dateDisplay }}</time>
  </header>
  {% if article.data.image %}
    <figure class="post-img" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
      <a href="{{ article.url }}"><img width="" height="" src="/images/codsen-article-{{ article.data.image }}-m.png" class="post-image-thumbnail" alt="{{ article.data.title }}" itemprop="contentUrl"></a>
    </figure>
  {% endif -%}
  <h3>
    <a href="{{ article.url }}">{{ article.data.title }}</a>
  </h3>
  <div class="article-content">
    {# excerpt will come as raw markdown code, we need to render #}
    {# into HTML first #}
    {{ article.data.page.excerpt | md | safe }}
    <a href="{{ article.url }}" class="button">
      {%- if article.data.type == "link" -%}
        Our notes <span class="screen-reader-text">about link {{ article.data.title }}</span>
      {%- else -%}
        Read article <span class="screen-reader-text">{{ article.data.title }}</span>
      {%- endif %}</a>
      {%- if article.data.type == "link" and article.data.url %} <span class="dib">Read at <a class="" href="{{ article.data.url }}">{{ article.data.url | domainOnly }}</a></span>
      {% endif %}
  </div>
  <div class="tags">
    {%- for assignedTag in article.data.tags -%}
    <a{% if extraContainerClass == "layout-page-tag" and tag == assignedTag %} aria-current="tag"{% endif %} href="/articles/tag/{{ assignedTag }}" rel="tag"><span class="screen-reader-text">
       all posted tagged
     </span> #{{ assignedTag }}</a>
    {%- endfor -%}
  </div>
</article>
