<p>
  Subscribe to RSS feed of everything or only to a particular category of&nbsp;articles:
  <ul>
    <li>
      <a href="/feed.xml">RSS feed of everything</a>
    </li>
    <li>
      <a href="/feed.xml">RSS feed of Email articles only</a>
    </li>
    <li>
      <a href="/feed.xml">RSS feed of JS articles only</a>
    </li>
  </ul>
</p>
