---
layout: list
title: Articles List
permalink: /articles/list/
eleventyExcludeFromCollections: true
---
<section class="two-thirds">
  <h1><span class="all-articles__all">All</span> <span class="all-articles__articles pr">posts<sup title="{{ collections.posts | length }} posts published" aria-label="{{ collections.posts | length }} posts published">Σ={{ collections.posts | length }}</sup></span></h1>
  <div class="mb list-container">
    <ol class="posts" reversed>
    {% for item in collections.posts | reverse %}
      <li class="posts-entry">{{ item.data.type | upper }} —
        <a class="posts-link" href="{{ item.url }}">{{ item.data.title }}</a>
      </li>
    {% endfor %}
    </ol>
  </div>
</section>
<aside class="one-third">
  <section>
    <p>
      <a href="/articles/">&larr; Main articles page</a>
      <br>
      <a href="/articles/tag/all/">All tags</a>
    </p>
    {% include "sidebar_rss_contents.njk" %}
  </section>
</aside>
