---
layout: list
title: Articles
pagination:
  data: collections.posts
  size: 7
  reverse: true
extraContainerClass: page-articles-home__root
---
<section class="two-thirds page-articles-home">
  <h1><span class="pr">Articles<sup title="{{ collections.posts | length }} posts published" aria-label="{{ collections.posts | length }} posts published">Σ={{ collections.posts | length }}</sup></span></h1>
  {% include "src/components/pagination.njk" %}
  <div>
    {%- for article in pagination.items -%}
      {# {%- if loop.index0 < 5 -%} #}
        {% set type = "article" %}
        {% if article.data.type %}

          {% set type = "article" %}
          {% if article.data.type %}
            {% set type = article.data.type %}
          {% endif %}

        {% endif %}

        {% include "src/components/home-article.njk" %}
      {# {%- endif -%} #}
    {%- endfor -%}
  </div>
  {% include "src/components/pagination.njk" %}
</section>
<aside class="one-third">
  <section>
    <ul class="no-styling">
      <li>
        <a href="/articles/list/">List of all posts &rarr;</a>
      </li>
      <li>
        <a href="/articles/tag/all/">All tags</a>
      </li>
      <br/>
      <li>
        <a href="/os/examples/">All package examples</a>
      </li>
      <li>
        <a href="/os/play/">All package playgrounds</a>
      </li>
    </ul>
    {% include "sidebar_rss_contents.njk" %}
    {% include "svg-codsen-handshake.njk" %}{% include "svg-codsen-2.njk" %}
  </section>
</aside>
