---
layout: list
permalink: "/os/examples/"
extraContainerClass: examples__root
---
{% from "macros/package-listing.njk" import packageListing %}
<section class="two-thirds">
  <h1><span class="all-articles__all">All</span> <span class="all-articles__articles pr">examples<sup title="{{ packageExamples | examplesExtractTotal }} examples published" aria-label="{{ packageExamples | examplesExtractTotal }} examples published">Σ={{ packageExamples | examplesExtractTotal }}</sup></span></h1>
  <div class="mb list-container">
    
    {# What a shocker! An HTML table tag! #}

    <table class="presentation">
      {% for package, obj in packageExamples %}
        {% if obj %}
          <tr>
            <td class="examples__left-col">
              {{ packageListing(package, packageJsons[package], null) }}
              {% if package in collections.packagesWithPlayground %}
              <p>
                <a class="button" href="/os/{{ package }}/play">Open playground</a>
              </p>
              {% endif %}
            </td>
            <td class="examples__right-col">
              <ul class="no-styling">
                {% for example, obj in obj %}
                  <li>
                    <a href="/os/{{ package }}/examples/#{{ obj.title | slugify }}"><span class="screen-reader-text">program {{ package }} example: </span>{{ obj.title | mdInline | safe }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

  </div>
</section>
<aside class="one-third">
  <section>
    <ul class="no-styling">
      <li>
        <a href="/os/">&larr; Open Source homepage</a>
      </li>
      <li>
        <a href="/articles/tag/all/">All tags</a>
      </li>
      <br/>
      <li>
        <a href="/articles/list/">All articles</a>
      </li>
      <li>
        <a href="/os/play/">All package playgrounds</a>
      </li>
    </ul>
    {% include "sidebar_rss_contents.njk" %}
    {% include "svg-codsen-handshake.njk" %}{% include "svg-codsen-2.njk" %}
  </section>
</aside>
