---
layout: play
pagination:
    data: collections.packagesWithPlayground
    size: 1
    alias: packageName
permalink: "/os/{{ packageName }}/play/"
extraContainerClass: playground__{{ packageName }}
---
{% set contents = "src/playgrounds/" + packageName + ".njk" %}
{% include contents %}
