---
layout: page
metaTitle: Admin Panel
description: Wordpress admin panel access
permalink: /wordpress/wp-admin/
eleventyExcludeFromCollections: true
---

<div class="wp-admin-page">
  <img width="512" alt="Joseph Ducreux
 / Public domain" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Ducreux1.jpg/512px-Ducreux1.jpg">
</div>
